@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 14px; 
}
.containernavbar{
    display: flex;
}
.navbar{
    background-image: linear-gradient(0deg, #002661 6%, #007F3D 7%, #007F3D 9%, #FFFFFF 10%, #FFFFFF 80%, #D8D8D8 98%, #000000 99%);
}

.row{
    display: flex;
    padding: 1%;
    padding-left: 8%;
    width: 70%;
}

.text-left{
    padding-left: 2%;
    width: 100%;
}

.text-center{
    display: flex;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 1.5%;
    font-weight: bold;
    width: 100%;
}

.col2{
    padding-top: 2%;
    width: 16%;
    font-weight: bold;
    font-size: 16px;
    color: #007F3D;
}

.rodapeedit{
    background: linear-gradient(0deg, #002661 16%, #007F3D 27%, #007F3D 19%, #FFFFFF 10%, #FFFFFF 60%, #D8D8D8 98%, #000000 99%);
    font-size: 15px;
    padding: 2px;
    padding-bottom:3px ;
    padding-left: 50%;
    align-items: center;
}

.container{
    background: #f2f2f2;
    margin-left: 7%;
    margin-right: 7%;
    padding: 1%;
    padding-top: 1%;
}

.text-titulo{
    font-weight: bold;
    color: #007F3D;
}
.text{
    color: #000000;
    padding-left: 1%;
    padding-bottom: 30px;
}

.blocos{
    display: flex;
    padding: 1%;
}